li {
    margin-top: 0.2rem;
}
article {
    padding: 0%;
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
    background-color: #f5f5f5;
}
img {
    height: auto;
    float: right;
    padding-top: 0.4rem;
}
span {
    padding-top: 0.2rem;
}
:host(.desktopSmall),
img {
    width: 50%;
}
:host(.desktopLarge),
img {
    width: 30%;
}
.clockPadding {
    padding-top: 1.8rem;
}
.iconsdiv {
    max-width: 4rem;
}   
